/*
--- CLIENT
--- Editor stylesheet
--- By James Barnsley
*/

form,
fieldset {
	margin-top: 20px;
	width: 100%;
}

input,
select,
textarea {
	font-family: 'Open Sans', serif;
	font-size: 14px;
	padding: 10px 2%;
	box-sizing: border-box;
	background: $lightgrey;
	border: 0;
	width: 100%;
}

.field {
	padding-bottom: 15px;

	&.text {
		input {			
			&:focus,
			&:active {
				border-color: $blue;
			}
		}
	}

	&.ss-uploadfield .middleColumn {
		background: $lightgrey;
		max-width: 100%;
		min-width: auto;
		border: 0;
		border-radius: 0;

		.ss-ui-button.ss-uploadfield-fromcomputer,
		.ss-ui-button.ss-uploadfield-fromfiles {
			font-family: 'Open Sans';
			color: $blue;
			font-size: 16px;
			font-weight: 700;
			padding: 4px 5px;
			display: inline-block;
			border: 1px solid $grey;
			background: $white;

			&:hover { 
				color: darken($blue, 25%);
			}
		}

		.ui-corner-all { 
			border-radius: 0; 
		}
	}

}

.listbox {

	option {
		width: 96%;
		padding: 10px 2%;
		margin: 0 0% 5px 0;
		text-align: center;
		background: $white;
		border: 1px solid $grey;
	}
	.description {
		color: $grey;
		font-style: italic;
	}
}

input[type="submit"],
input[type="cancel"] {
	@include animate();
	background: $blue;
	color: #FFFFFF;
	cursor: hand;
	cursor: pointer;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	border: 0;
	width: 140px;
}

input[type="submit"]:hover,
input[type="cancel"]:hover {
	background: darken($blue, 10%);
}

::-webkit-input-placeholder {	color: rgba(0,0,0,0.25); }
:-moz-placeholder {				color: rgba(0,0,0,0.25); }
::-moz-placeholder {			color: rgba(0,0,0,0.25); }
:-ms-input-placeholder {		color: rgba(0,0,0,0.25); }

.ss-upload .ss-uploadfield-fromcomputer input {
	width: auto;
}
.ss-uploadfield .ss-ui-button {
	width: auto;
}



