/*
	ENTRY
 */

.typography .entries-grid a.entry-summary {
	display: block;
	width: 32.33%;
	box-sizing: border-box;
	margin: 0 1% 10px 0;
	float: left;
	color: #000 !important;
	text-decoration: none;
	border: 0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

	.categories {
		position: absolute;
		top: 20px;
		right: 20px;
		margin: 0;
	}

	img {
		width: 100%;
		display: block;
	}

	.liner {
		background: $lightgrey;

		h3 {
			font-size: 1.3em;
			font-weight: 600;
			padding: 0;
		}
	}

	&:hover {
		.liner {
			background: darken($lightgrey,10%);
		}
	}
}

.category {	
	display: inline-block;
	margin-left: 6px;
	font-family: FontAwesome;
	font-size: 1.5em;
	color: $white;

	&.special-date {
		&:before { content: "\f005"; }
	}

	&.achievement {
		&:before { content: "\f091"; }
	}

	&.birthday {
		&:before { content: "\f06B"; }
	}
}

.single-entry {

	margin: 15px 0;

	.button {
	}

	.content {
		width: 75%;
		float: left;

		img {
			max-width: 100%;
		}
	}

	aside {
		width: 20%;
		float: right;

		p, .button { 
			text-align: right; 
			display: block; 
		}

		.category {
			float: right;
			color: $black;
		}

		.button {
			clear: both;
		}
	}
}